:root {
    /* Colors */
    --teal: #01C6B5;
    --gray: #414143;

    /* Font Sizes */
        --text-14: 14px;
        --text-16: 16px;
        --text-18: 18px;
        --text-20: 20px;
        --text-24: 24px;
        --text-48: 48px;
        --text-60: 60px;
        --text-66: 66px;

    /* Font Weights */
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}